@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Reddit+Mono:wght@200..900&display=swap");
@import url(owl.carousel.css);
@import url(owl.theme.default.css);
@import url(bootstrap.css);
@import url(animate.min.css);

/* Contact Section Styling  */
body {
  font-family: "Reddit Mono", monospace;
  overflow-x: hidden !important;
}

.contact-rounded-image {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.contact-heading {
  font-size: 20px;
  color: #f25334;
  font-weight: 500;
}

.contact-subheading {
  font-family: "Lilita One", monospace;
  font-size: 2.5rem;
  font-weight: 500;
  color: #0b2038;
  line-height: 1.25em;
  margin-top: 5px;
}

.contact-input {
  display: block !important;
  width: 100% !important;
  height: 60px !important;
  background-color: #faf5f2 !important;
  color: #7e8185 !important;
  font-family: inherit !important;
  font-size: 14px !important;
  font-weight: lighter !important;
  border: none !important;
  outline: none !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border-radius: 4px !important;
  margin-bottom: 20px !important;
}

.contact-textarea {
  height: 170px !important;
  padding-left: 30px;
  padding-top: 30px !important;
  font-weight: lighter;
}

.get-in-touch-button {
  background-color: #ff6347;
  border: none;
  padding: 11px 50px !important;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
}

.get-in-touch-text {
  position: relative;
  color: inherit;
  z-index: 2;
  top: 1px;
}

.get-in-touch-button:hover {
  background-color: #ff4500;
}

.img-section::after {
  position: absolute;
  width: 400px;
  height: 400px;
  left: -15px;
  top: 46px;
  content: "";
  background-color: #faf5f2;
  border-radius: 50%;
  z-index: -1;
}

.select-wrapper {
  position: relative;
}

.img-section {
  position: relative;
}

.select-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000; /* Icon color */
}

.stars-shape {
  will-change: transform;
  transform: translate3d(0px, 12px, 0px);
  transition: transform 0.3s cubic-bezier(0, 0, 0, 1) 0s;
  position: absolute;
  left: 70px;
  top: 55px;
  z-index: -1;
}

.stars-img {
  max-width: 100%;
  height: auto;
  animation: zoomBig2 3s linear infinite;
}

.orange-star-shape {
  position: absolute;
  left: 100px;
  bottom: 150px;
  z-index: 2;
}

.orange-star {
  max-width: 100%;
  height: auto;
  animation: rotated 6s infinite linear;
}

.zigzag-shape {
  position: absolute;
  left: 500px;
  bottom: 150px;
  z-index: 2;
}

.zigzag {
  max-width: 100%;
  height: auto;
  animation: float-bob-x 4s linear 0s infinite;
}

/* Svg Movement Animations  */

@keyframes zoomBig2 {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.9, 0.9);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes rotated {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float-bob-x {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-30px);
  }
}

@keyframes cloudMove {
  0% {
    background-position: 100% -725px;
  }
  100% {
    background-position: 100% 0;
  }
}

/* Contact Section Media-Queries   */

@media (max-width: 768px) {
  .img-section::after {
    width: 400px;
    height: 400px;
    left: -15px;
    top: 20px;
  }

  .stars-shape {
    left: -76px;
    top: -10px;
  }

  .orange-star-shape {
    left: 0;
    bottom: 75px;
  }

  .zigzag-shape {
    left: 380px;
    bottom: 75px;
  }

  .contact-heading {
    font-size: 24px;
  }

  .contact-subheading {
    font-size: 40px;
  }

  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .contact-rounded-image {
    position: relative;
    left: -30px;
  }

  .img-section::after {
    width: 370px;
    height: 370px;
    left: -45px;
    top: 20px;
  }

  .stars-shape {
    left: 0;
    top: -10px;
  }

  .orange-star-shape {
    left: 0;
    bottom: 75px;
  }

  .zigzag-shape {
    left: 300px;
    bottom: 75px;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .zigzag-shape {
    left: 350px;
    bottom: 50px;
  }

  .orange-star-shape {
    left: 0;
    bottom: 50px;
  }

  .stars-shape {
    left: -30px;
    top: 10px;
  }
}

@media (max-width: 2000px) and (min-width: 1200px) {
  .zigzag-shape {
    bottom: 50px;
    left: 380px;
  }

  .orange-star-shape {
    bottom: 50px;
    left: 0;
  }

  .stars-shape {
    left: -30px;
    top: 10px;
  }
}

/* funfact Section  */

.funfacts-heading {
  font-size: 20px;
  color: #ffaa23;
  font-weight: 500;
}

.funfacts-sub-heading {
  font-family: "Lilita One", monospace;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.25em;
  margin-top: 5px;
}

.funfacts-section {
  background-color: #0b2038;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.funfacts-bg-animation {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-position: left top;
  background-repeat: repeat;
  animation: cloudMove 80s linear 0s infinite;
  opacity: 0.3;
  z-index: 1;
}

.funfacts-content {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.funfacts-content h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  line-height: 1.25em;
}

.stat-box {
  background-color: #27496d;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stat-box img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.funfacts-image {
  flex: 1;
  /* overflow: hidden; */
}

.funfacts-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.funfact-stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.funfact-inner {
  background-color: #091b30;
  border-radius: 19px;
  z-index: 2;
}

.funfact-number {
  font-size: 1.5rem;
}

.funfact-label {
  font-size: 1rem;
}

/* Funfacts Media Queries  */

@media (max-width: 1200px) {
  .funfacts-bg-animation {
    width: 100%;
    height: 80%;
  }

  .funfact-stat {
    margin: 10 auto;
  }

  .funfacts-section {
    flex-direction: column;
    align-items: center;
  }

  .funfacts-content,
  .funfacts-image {
    width: 100%;
  }

  .funfacts-content {
    padding: 30px;
    align-items: center;
    text-align: center;
  }

  .funfacts-heading {
    font-size: 18px;
  }

  .funfacts-sub-heading {
    font-size: 28px;
  }

  .funfacts-content h2 {
    font-size: 2rem;
  }

  .stat-box {
    width: 150px;
    height: 100px;
    padding: 15px;
  }

  .stat-box img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 992px) {
  .funfacts-section {
    flex-direction: column;
    align-items: center;
  }

  .funfacts-content,
  .funfacts-image {
    width: 100%;
  }

  .funfacts-content {
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .funfacts-heading {
    font-size: 16px;
  }

  .funfacts-sub-heading {
    font-size: 24px;
  }

  .funfacts-content h2 {
    font-size: 1.75rem;
  }

  .stat-box {
    width: 130px;
    height: 90px;
    padding: 10px;
  }

  .stat-box img {
    width: 25px;
    height: 25px;
  }
}
